<!-- <p>produits works!</p>
<h1>Bonjour {{nom}}</h1>
<button class="btn btn-success" (click)="afficheNom()">Affiche nom </button><br>
<button class="btn btn-success" (click)="fermerOuvrir()"  [disabled]="!marche">ON</button>
<button class="btn btn-danger" (click)="fermerOuvrir()"  [disabled]="marche">OFF</button>

<input type="text" [(ngModel)]="nom" > -->

<div class="container">
  <div class="row">

    <div class="col-lg-6" *ngFor="let produit of produits">

      <div class="card"  >
        <img class="card-img-top" src="{{produit.image}}" alt="Card image cap" >
        <div class="card-body">
          <h5 class="card-title">{{produit.nomProduit}}</h5>

            <p class="card-text">{{produit.prix}} EURO </p>
          <a href="#" class="btn btn-primary">Acheter</a>
          <button class="btn btn-success" *ngIf="isAdmin"  (click)="editer(produit.idProduit)" >Editer</button>
          <a class="btn btn-primary" (click)="detailsProduit(produit.idProduit)">Voir plus de détails</a>
        </div>
      </div>
    </div>


  </div>


</div>
